@keyframes circle-pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.32);
  }
}

.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
}

.about__content {
  max-width: 660px;
  padding-bottom: 173px;
  margin-top: 119px;
  margin-left: auto;
  margin-right: 80px;
  color: white;
}

.about__circle {
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  z-index: 0;
}
.about__circle_animation_blurred {
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
  z-index: 0;
  animation: circle-pulse 1.3s ease-in-out infinite alternate-reverse;
}

.about__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  padding-top: 100px;
  margin-left: 80px;
  color: white;
  max-width: 251px;
  position: absolute;
  z-index: 1;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.about__paragraph:last-of-type {
  margin-bottom: 0;
}
