.header__footers {
  margin-top: auto;
  margin-left: 80px;
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__footer {
  font-weight: 500;
  line-height: 20px;
  color: #6f6f6f;
  line-height: 5px;
  margin: 0;
  margin-right: 80px;
}

.header__footer_list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  margin: 0;
  padding: 0;
}
